@font-face {
    font-family: "bubble";
    src: url("./Spicy Sale.ttf") format("truetype");
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex
{
    display: flex;
    align-items: center;
    justify-content: center;
}

body
{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    flex-direction: column;
    gap: 5vh;
}

h1
{
    font-family: "bubble";
    font-weight: 1;
    font-size: 45px;
    color: darkblue;
}

div
{
    gap: 1vw;
}

button
{
    border-radius: 20% / 50%;
    border-color: darkblue;
    border-width: 5px;
    background-color: wheat;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
}

div button
{
    border-radius: 50%;
    font-size: 20px;
}

.mute
{
    display: none;
}

#popup
{
    position: relative;
    top: 3vh;
    left: 40vw;
    padding: 20px;
    border-radius: 20% / 10%;
    background-color: antiquewhite;
}

dialog::backdrop
{
    background: rgba(0,0,0,0.6);
}

dialog .flex
{
    justify-content: space-between;
}

dialog .cross
{
    border: none;
    background-color: transparent;
    padding: 0;
    width: 10%;
}

dialog .cross:hover
{
    background-color: darkblue;
    color: whitesmoke;
}

#play
{
    position: relative;
    left: 1vw;
    top: 2vh;
    height: 100vh;
    width: 100vw;
}

#play div
{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

.o{color: blue;}
.x{color: red;}

.o , .x {height: 6vh; width: auto;}

#i1{position: fixed; top: 5%; left: 5%;}
#i4{position: fixed; top: 8%; right: 15%;}
#i2{position: fixed; bottom: 15%; left: 8%;}
#i3{position: fixed; bottom: 5%; right: 5%;}
